<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ninja</title>
    <img src="{{url_for('static', filename='fihting_ninja.png')}}">
</head>
<body>
    <img src="static\fighting_ninja.png" alt="Picture of a Ninja">
    <h1>What is a Ninja?</h1>
    <p>Well grasshopper, Ninja Developers don’t limit themselves to just one programming language or one technology stack; they are ‘developer polyglots.’</p><br>
    <p>The Ninja has a base programming language in which he/she is an expert, but is comfortable using any other language.</p><br> 
    </p> Ninja's knows how to navigate the various stacks in order to solve whatever technical challenge there is.</p>
    
</body>
</html>







